.wrapper{
	width: 1170px;
	margin: 0 auto;
}
.your-class div{
	position: relative;
}
/* Слайдер */
.slick-slider{}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
.slick-list {
	overflow: hidden;
}
/* Лента слайдов */
.slick-track{
	display: flex;
}
/* Слайд */
.slick-slide{}
/* Слайд активный (показывается) */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка */
.slick-arrow{
	position: absolute;
	top: 50%;
	z-index: 10;
	font-size: 0;
	width: 30px;
	height: 30px;
	border-top: 5px solid grey;
	border-right: 5px solid grey;
	border-left: 1px solid transparent;
	border-bottom: 1px solid transparent;
	background-color: transparent;
	margin-top: -15px;
}
/* Стрелка влево */
.slick-arrow.slick-prev{
	transform: rotate(225deg);
	left: -50px;

}
/* Стрелка вправо */
.slick-arrow.slick-next{
	transform: rotate(45deg);
	right: -50px;
}
.slick-arrow:focus{
	outline: none;
}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}
/* Точки (булиты) */
.slick-dots{
	display: flex;
	justify-content: center;
	align-items: center;
	color: grey;
}
.slick-dots li{
	list-style: none;
	margin-right: 5px;
}
/* Активная точка */
.slick-dots li.slick-active button{
	background-color: #000;

}
/* Элемент точки */
.slick-dots li button{
	font-size: 0;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: grey;
	border: none;
}
.slick-dots button:focus{
	outline: none;
	background-color: #000;
}